---
title: "Mastodon Verification"
date: 2024-02-28T08:03:52Z
draft: false

featured_image: "images/2024/2024-02_mastodon-verification/Mastodon_Logotype.png"

---

## Verify Mastodon Profile

With this post, I am trying to verify my Mastodon profile.

Here is the link to my Mastodon presence:
<a rel="me" href="https://hachyderm.io/@davidbeck">@davidbeck auf hachyderm.io</a>

You can find the official documentation on this topic here: [Verification on Joinmastodon](https://joinmastodon.org/verification).